<h2>O projektu</h2>
<p>
    Bioinformatics DNA alignment<br/>
    Semestrální projekt předmětu MI-VMW<br/>
    Jan Matějů, Jakub Černohubý<br/>
    FIT ČVUT<br/>
    2011
</p>

<%= link_to '[Sekvence k porovnání]', genomes_path %><br/>
<%= link_to '[Správa genové databáze]', 'proteins' %>
